<% provide(:title, "Instructions") %>

<h1>PENTAGO - INSTRUCTIONS</h1>
<div class="container">
    <p>
        Welcome to Pentago, the mind twisting game from Sweden. In just minutes, this guide will show you how to play, explain the few rules that applies to Pentago play and give you some insight to basic Pentago strategy.
      </p>
      <p>
        STARTING/ The game starts with an empty game board, consisting of the base and the four twistable game blocks. Decide marble color of each player. To determine who goes first, disguise one of each color marble in your hands and have your opponent choose one hand. The chosen color
        goes first and places a marble anywhere on the game board.
      </p>
      <p>
        OBJECT/ The object is to get five marbles in a row before your opponent does. The mind twisting part of Pentago is that each player will also twist one of the four game blocks 90 degrees (one “notch”), clockwise or counter clockwise, as part of each turn. A 180 degree (double “notch”) twist is not allowed. The twist is the key to create winning positions in Pentago.
      </p>
      <p>
        PLAYING/ Players take turns at placing marbles on the game board and twisting the game blocks. A player is free to twist any of the game blocks, regardless of which game block the player placed the marble on. In the beginning of the game, there will be neutral game blocks, allowing a player to ignore the twist portion of their turn. A neutral game block is one that is empty or has only one marble in the middle of it. Twisting a neutral game block will have no effect on the positional nature of the game board so the twisting part of a move is optional while there are neutral game blocks.
      </p>
      <p>
        WINNING/ A winning row of five marbles can occur vertically, horizontally or diagonally, anywhere on the board and will span two or three game blocks. What seems like a simple five-in-a-row game quickly gets mind twisting as the board fills up and both players are twisting the game blocks, creating a constantly changing and challenging game scenario. You’ll want to really watch your opponents position as it relates to yours and play as much defensive as you do offense.
        As this game shows, don’t let your opponent get three in a row on one game block, or you’ll be on the defensive, sometimes with losing results. On the other hand, sometimes playing defense for a few moves creates opportunities for you that your opponent may miss because he/she can get too busy trying to run the game.
        At this point, play a few games to get a feel for Pentago play and the various strategies and logic used to create good game technique. The constantly changing game board will take a few games to get used to. Once you do, you’ll love to explore all the perplexingly complex and deep logic that is required to conquer another seasoned player.
      </p>
      <p>
        TIES/ A tie can occur if both players have played all marbles and neither player has five-in-a-row. A tie can also occur if one player twists his/her marbles into a row of five, but also creates a row of five for the opponent. However, should one player be able to win by simply placing a marble on the board for a row of five, without twisting a game block, then that game is over, without that player having to twist a game block, even if doing so would have resulted in the opponent also getting five-in-a-row.
      </p>
      <p>
        TWISTING THE GAME BLOCKS/ A player can choose to ignore twisting a game block in the first few moves of the game, while there are neutral game blocks. A neutral game block is one that is empty or has only one marble in the middle of it. Twisting a neutral game block will have no effect on the positional nature of the game board so the twisting part of a move is optional while there are neutral game blocks.
        This does not mean that the player cannot twist a game block in the beginning of the game, it is simply optional until such time that all game blocks have at least one marble on it that isn’t in the middle, then you have to twist a game block as part of your turn.
      </p>
      <p>
        MATCH PLAY/ Playing a match is a common way to play Pentago. Match play consists of playing best out of five games, meaning the first player to win three games wins the match. Players alternate the start, since there is a slight advantage to go first. Determine who goes first in the first match (see page 2). The chosen color goes first in the first game of the match, then it alternates until the match is finished.
      </p>

</div>
