<div class="container">

    <% provide(:title, "Instructions") %>

    <div class="well well-lg instructionsHead">
        <h1>INSTRUCTIONS</h1>
    </div>
    <div class="container">

        <ul class="rulesList">
            <li class="rulesText">Pentago is played on a 6 by 6 board, divided into four 3 by 3 quadrants</li>
            <li class="rulesText">Two players, black and white, who alternate turns</li>
            <li class="rulesText">Each player is to get five stones of their color in a row, either horizontally, vertically, or diagonally</li>
            <li class="rulesText">Each turn, a player places a stone in an empty space in some quadrant, then chooses a possibly different quadrant to rotate 90 degrees left or right</li>
            <li class="rulesText">If both players get five in a row at the same time, or the last move is played with no five in a row, the game is a tie</li>
            <li class="rulesText">If a player makes five a row by placing a stone, there is no need to rotate a quadrant: the player wins immediately.</li>
        </ul>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/AoMK_GB8FXU" frameborder="0" allowfullscreen></iframe>

    </div>
</div>
