<% provide(:title, "Instructions") %>


<div class = "well well-lg instructionsHead"><h1>PENTAGO - INSTRUCTIONS</h1></div>
<div class="container">

  <ul>
    <li class="isText">Pentago is played on a 6 by 6 board, divided into four 3 by 3 quadrants</li>
    <li class="isText">Two players, black and white, who alternate turns</li>
    <li class="isText">The goal of each player is to get five stones of their color in a row, either horizontally, vertically, or diagonally</li>
    <li class="isText">Each turn, a player places a stone in an empty space in some quadrant, then chooses a possibly different quadrant to rotate 90 degrees left or right</li>
    <li class="isText">If both players get five in a row at the same time, or the last move is played with no five in a row, the game is a tie</li>
    <li class="isText">If a player makes five a row by placing a stone, there is no need to rotate a quadrant: the player wins immediately</li>
  </ul>

</div>
