<h1>X:
  <span class="game-timer-X"></span>
</h1>

<h1>O:
  <span class="game-timer-O"></span>
</h1>

<h1>X timebank:
  <span class="x-timebank"></span>
</h1>

<h1>O timebank:
  <span class="o-timebank"></span>
</h1>
