/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body { padding-top: 58px; }
 footer { bottom: 0; }
 table, td, th { vertical-align: middle; border:none;}
 th {border-bottom: 1px solid #DDD;}

 .navbar-inverse .navbar-brand {
     color: white;
     /*font-family: 'Patua One', cursive;*/
     font-size: 25px;
     font-weight: bold;
     letter-spacing: 5px;
 }

.navText {
  color: white;
}

 .navbar-inverse .navbar-nav > li:hover {
   background-color: #00bfff;
   color: white;
 }

 .logo {
   padding: 11px;
 }

 .go {
   color: #00bfff;
 }

 .editor {
    .wrap-guide {
        visibility: hidden;
    }
}

.messageBottom {
  height: 50px;
}

.totalTop {
  height: 10px;
}

.rulesList {
  list-style-type: square;
}

.rulesText {
  padding-bottom: 10px;

}

.isText {
  list-style-type: square;
  padding-bottom: 10px;
}

.instructionsHead{
  text-align: center;
  font-weight: bold

}

body{
  margin:0;
  background: #770d18;
  animation-name: change_BgColor;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
