// Place all the styles related to the ChatRooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/**
 * GMAIL Like chat css
 * CREDITS: http://css-tricks.com/replicating-google-hangouts-chat/
 *
 */

 .message-wr {
   height: 485px;
   margin: auto;
   width: 100%;
   border: 1px solid grey;
 }

 .message-list {
   list-style-type: none;
   padding-left: 10px;
 }

 .message-container {
   width: 95%;
   padding-top: 5px;
 }

 #message_body {
 }

 #messages {
   height: 100%;
   overflow-x: hidden;
   overflow-y: auto;
   word-wrap: break-word;
 }
