// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.create-game-btn {
  position: relative;
  bottom: 45px;
  right: 10px;
  float: right;
}

.matches-header {
  text-align: center;
  height: 90px;
  h2 {

  }
}

.panel-container {
  height: 60px;
  transition: 0.3s;
  border: none;
  &:hover {
    background-color: darkslategray;
    transition: 0.3s;
    .challenge-btn {
      opacity: 1;
      transition: 0.3s;
    }
    .watch-game-btn {
      opacity: 1;
      transition: 0.3s;
    }
  }
  .challenge-btn {
    position: relative;
    bottom: 42px;
    width: 100px;
    opacity: 0;
    transition: 0.3s;
  }
  .watch-game-btn {
    position: relative;
    bottom: 42px;
    width: 200px;
    opacity: 0;
    transition: 0.3s;
    .watch-game-link {
      color: white;
      text-decoration: none;
    }
  }
}

.row.matchPage {
  margin: 0 auto;
}

.nameMatch {
  // color: white;
  font-size: 18px;
}

.matches-container {
  text-align: center;
}
