// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table th td {
   text-align: center;
}

.statHead {
  // text-align: center;
}

.profile-intro {
  color: black;
}

h3, h1, label, em {
  color: whitesmoke;
}

tbody tr:nth-child(2n) {
  color: whitesmoke;
}
