<footer class="footer">

    <small>
        <p><%= link_to image_tag("GA.jpeg", alt: "GA logo", style: "width:15px;height:15px"), 'https://generalassemb.ly/' %>WDI 6 Project 3 - Team Pentago</p>
    </small>

    <ul>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Instructions", static_pages_instructions_path %></li>

    </ul>

</footer>
